.container {
    border: 3px solid green;
}

.bar {
    /* outline: 1px solid red; */
    fill: #d2e9be;
}

.line {
    stroke: black;
    stroke-width: 1px;
}

.period {
  fill: none;;
}

.text {
    text-align: center;
    text-anchor: middle;
    dominant-baseline: middle;
    z-index: -1;
}

.tooltip {
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    text-align: center;
}

.hover {
    width: 100%;
    height: 100%;
}